body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #434455;
}

.logotype-web {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logotype-studio {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
span {
  color: #2e2f42;
}

.button {
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
}

.link {
  text-decoration: none;
}

.navigation {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.heading {
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #2e2f42;
}
.list {
  list-style: none;
}
