:root {
  --body-text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --white-background: #ffffff;
  --light: #f4f4fd;
  --accent: #e7e9fc;
  --pressed-state: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-text-color);
  line-height: 1.33;
  letter-spacing: 0.02em;
  background: var(--white-background);
}

/*--------------------------HEADER------------------------*/

.header {
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}


.navbar {
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  
}

.logo-studio {
  color: var(--dark-color);
}

.nav-links {
}

.nav-item {
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}



/*-------------------------ADRESS------------------------*/
.contacts {
  }
.contacts-list {
  font-style: normal;
}
 .nav-link:focus,
  .nav-link:active {
  color: var(--primary-brand-color);
}
.contacts-item {
} 
.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
   
}
.contacts-list .contacts-link:focus,  .contacts-list .contacts-link:active  { color: var(--primary-brand-color);}
/*-------------------------SECTION 1------------------------*/
.hero {
  background: var(--dark-color);
  border: 1px solid #000000;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-background);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button {
  color: var(--primary-brand-color);
  background: var(--light);
  cursor: pointer;
  border: 1px solid var(--accent);
  letter-spacing: 0.04em;
}

/*-------------------------SECTION 2-----------------------*/
.advantages {
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--dark-color);
}
.advantages-list {
}
.advantages-item {
}
.advantages-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.advantages-item-text {
  line-height: 1.5;
}

/*-------------------------SECTION 3-----------------------*/
.images-list {
}
.image-item {
}
/*-------------------------SECTION 4-----------------------*/
.team-section {
}
.team-list {
}
.team-member {
}
.team-member-name {
}
.team-member-role {
}

/*-------------------------FOOTER------------------------*/
.footer {
  background: var(--dark-color);
}
.footer-text {
  line-height: 1.5;
  color: var(--light);
}
.footer-logo-studio {
  color: var(--light);
}
/*===================================PORTFOLIO======================================*/
