:root {
  --body-text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
}

body {
  font-family: Roboto, sans-serif;
  color: var (--body-text-color);
  line-height: 1.33;
  letter-spacing: 0.02em;
  background: #ffffff;
}

.logotype-web {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var (--primary-brand-color);
}

.logotype-studio {
  color: var (---dark-color);
}

.link {
  text-decoration: none;
}
.navigation-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var (---dark-color);
}
.button {
  color: var (--primary-brand-color);
  background: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  letter-spacing: 0.04em;
}

.navigation {
  font-weight: 500;
  color: var (---dark-color);
}
.heading {
  font-size: 56px;
  line-height: 60px;
  color: #ffffff;
  background: var (---dark-color);
}
.list {
  list-style: none;
}

.heading-section {
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
}

.heading-box {
  font-size: 20px;
}
.button:hover,
.button:focus {
  background-color: #4d5ae5;
  color: #ffffff;
}
.link:hover,
.link:focus {
}
